[Unit]
Description=Pnd Services DDS
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/etc/pndbotics/pnd_service_dds/service_run.sh
WorkingDirectory=/etc/pndbotics/pnd_service_dds
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=60
# 确保停止时发送信号给整个进程组
ExecStop=/bin/kill -TERM $MAINPID
ExecStopPost=/bin/sleep 1

[Install]
WantedBy=multi-user.target

